<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Daily Goals - Mental Health Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'dashboard' %}">Home</a>
        <a href="{% url 'logout' %}">Logout</a>
      </nav>
    </header>
    <main>
      <h1>Your Daily Goals</h1>

      <form method="get" action="{% url 'daily-goals' %}" class="search-form">
        <input
          type="text"
          name="q"
          placeholder="Search goals by Name"
          value="{{ request.GET.q }}"
        />
        <button type="submit">Search</button>
      </form>

      {% if goals.count == 0 %}
      <p class="no-results">No goals found matching your search criteria.</p>
      {% else %}
      <ul>
        {% for goal in goals %}
        <li class="goal-item">
          <div class="goal-header">
            <strong>
              <span class="goal-date">
                {{ goal.date|date:"F j, Y" }}
              </span> </strong
            ><br />
          </div>
          <div class="goal-details">
            <div>
              <p class="goal-text">
                <strong>Title: </strong>
                <a href="{% url 'daily-goal-detail' goal.pk %}"
                  >{{ goal.goal }}</a
                >
              </p>
            </div>
            <p class="goal-user">
              <strong>Assigned to:</strong> {{ goal.user.username }}
            </p>
            <a
              href="{% url 'edit-daily-goal' goal.pk %}"
              class="btn btn-primary btn-sm"
              style="width: auto"
              >Edit</a
            >
            <form
              method="post"
              action="{% url 'delete-daily-goal' goal.pk %}"
              style="display: inline; border: 0; background-color: transparent"
              onsubmit="return confirm('Are you sure you want to delete this daily goal?');"
            >
              {% csrf_token %}
              <button
                type="submit"
                class="btn btn-danger btn-sm"
                style="width: auto"
              >
                Delete
              </button>
            </form>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      <a href="{% url 'add-daily-goal' %}" class="btn">Add a New Goal</a>
    </main>
    <footer>
      <p>&copy; 2024 Mental Health Tracker</p>
    </footer>
  </body>
</html>
